doctype html
html(lang='en')
    head
        meta(http-equiv='content-type' content='text/html;charset=UTF-8')
        meta(name='viewport' content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')

        title Promo Core v#{ pkg.version }

        link(rel='apple-touch-icon' sizes='180x180' href='../images/favicon/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='../images/favicon/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='../images/favicon/favicon-16x16.png')
        link(rel='manifest' href='../images/favicon/site.webmanifest')
        link(rel='mask-icon' href='../images/favicon/safari-pinned-tab.svg' color='#050505')
        meta(name='theme-color' content='#ffffff')

        link(rel='stylesheet' href='./main.min.css?v=' + pkg.version)

    body
        center
            h1 Hello, World!
            span ヾ( °-°)シﾟ`･｡･°*♪･ﾟ’☆
            br
            br
            a(href='/docs') Docs

        script(src='./main.min.js?v=' + pkg.version)


